project_id = "ayefucundknjoumtqdlo"

[functions.admin-user-management]
verify_jwt = false

[functions.get-mapbox-token]
verify_jwt = false

[functions.check-subscription]
verify_jwt = true

[functions.create-checkout]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true